footer {
  background: #000;
  height: auto;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}